.times {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
}

.chart {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    text-transform: capitalize;
}